@import "reset";
//@import "bootstrap/scss/bootstrap";
@import "base";
@import "perfect-scrollbar";
header{
    margin:0 auto;
}

body {

    font-family: "微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B", "儷黑 Pro";

    &.open{
        overflow: hidden;
    }
}

body, html{
    position:relative;
    width:100%;
    height:100%;
}

header{

    padding: 20px 20px 20px 20px;
    display: block;
    position: fixed;
    background-color: white;
    z-index: 999;
    width: 100%;

    a.logo{
        
        background:url(../images/logo.gif) no-repeat;
        background-size:247.5px 31.5px;
        background-position: 0 0;
        width:247.5px;
        height:31.5px;
        text-decoration: none;
        display:inline-block;
    }

    ul.nav_mainpage{

        display:none;

        float:right;
        margin-top:0px;
        margin-right:0px;

        li{
            float:left;

            a{
                text-decoration: none;
                display:block;
                text-align: left;
                font-size:20px;
                color:black;
                margin-right:40px;
                font-weight: 600;
            }
        }
    }
}

.light_box_wrap{

        position: fixed;
        left: 0;
        top: 74px;
        height: 100%;
        width: 100%;
        background: #eeeeee;
        z-index: 999;
        overflow: auto;
}

.light_box{

    display:block;
    width: calc( 100% - 300px);
    max-width: 1070px;
    position: absolute;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 160px;
    

    &.active{

        display:block;        
    }

    @include susy-breakpoint(('max-width':767px)){
            
        width:80%;
    }

    @include susy-breakpoint($mobile){
            
        margin-bottom: 100px;
        padding-bottom: 0;
    }

    .box_top{

        text-align: center;
        height: 100px;
        background-color: #121212;
        font-size: 34px;
        line-height: 42px;
        padding-top:16px;
        color: #fefefe;
        position: relative;

        @include susy-breakpoint(('max-width':767px)){
            
            font-size: 20px;
            line-height: 30px;
            height: auto;
            padding-bottom: 16px;
        }

        @include susy-breakpoint(('max-width':767px)){
            
            line-height: 22px;
            padding-bottom: 4px;
            padding-top:4px;
        }

        

        a.cancel{

            text-decoration: none;
            display:none;
            width:50px;
            height:50px;
            background: url(../images/cancel-icon.png) no-repeat;
            background-size: 50px 50px;
            background-position: 0 0 ;
            position: absolute;
            right:24px;
            top:24px;
        }
    }

    form.apply_form{

        background-color:white;
        padding-top:29px;
        padding-left:calc((100% - 740px) / 2);
        padding-right:calc((100% - 740px) / 2);

        @include susy-breakpoint(('max-width':1100px)){
            
            padding-left:20px;
            padding-right:20px;
        }

        @include susy-breakpoint(('max-width':767px)){
            
            padding-left:13px;
            padding-right:13px;
        }

        select{
            
            width:600px;
            height: 68px;
            display: inline;
            vertical-align: text-bottom;
            padding-left: 10px;
            border-radius: 5px;
            appearance:none; 
            -moz-appearance:none; 
            -webkit-appearance:none;
            background: url(../images/arrow.png) no-repeat scroll right center transparent;
            background-position: calc(100% - 14px);
            font-size: 20px;
            background-size: 20px;

            &:focus{

                outline:none;
            }

            @include susy-breakpoint(('max-width':1100px)){
            
                width:72%;
            }
            
            @include susy-breakpoint(('max-width':1024px)){
            
                font-size:15px;
                background-size: 14px;
            }

            @include susy-breakpoint(('max-width':767px)){
            
                background-size: 10px;
            }

            @include susy-breakpoint($mobile){
            
                width:72%;
                border-radius: 40px;
                height:56px;
                font-size: 10px;
            }
        }

        select::-ms-expand{ display: none; };


        button{

            width: 600px;
            margin-left: calc((100% - 600px) / 2);
            background-color: black;
            color: white;
            font-size: 24px;
            line-height: 32px;
            padding-top: 4px;
            padding-bottom: 4px;
            border:0;
            border-radius: 10px;
            margin-bottom: 20px;
            margin-top:46px;

            @include susy-breakpoint(('max-width':1023px)){
            
                width:80%;
                margin-left: 10%;
            }

            @include susy-breakpoint($mobile){
            
                width: 90%;
                margin-left: 5%;
                font-size: 20px;
                line-height: 22px;
                border-radius: 20px;
                margin-top:12px;
            }
        }
    }
}

p.first_content{

    font-size:20px;
    line-height: 24px;
    color: #515151;
    margin-bottom: 26px;

    @include susy-breakpoint(('max-width':1023px)){
            
        font-size: 16px;
        margin-left: 10px;
    }

    @include susy-breakpoint(('max-width':767px)){
            
        margin-left: 0;
    }

    @include susy-breakpoint($mobile){
            
        font-size: 6px;
        line-height: 18px;
        margin-bottom: 0;
    }
}

p.title_p{
    color: #121212;
    font-size:24px;
    line-height: 38px;
    display:inline-block;
    width:104px;
    margin-top: 46px;
    font-weight: 600;

    span{

        font-size:16px;
    }

    @include susy-breakpoint($mobile){
            
        font-size: 10px;
        line-height: 20px;
        width:60px;
        margin-top: 12px;
    }
}

p.purchase_p{

    color: #121212;
    font-size:24px;
    display:inline-block;
    width:104px;
    margin-top: 46px;
    font-weight: 600;

    span{

        font-size: 14px;
        line-height: 14px;

        @include susy-breakpoint($mobile){
            
            font-size: 10px;
        }
    }

    @include susy-breakpoint($mobile){
            
        font-size: 10px;
        line-height: 20px;
        width:60px;
        margin-top:12px;
    }
}

input.box_input{
    
    display:inline;
    width:600px;
    border: 0;
    border-bottom: 1px solid #515151;
    height:34px;
    font-size:24px;
    padding-left:8px;

    &:focus{

        outline:none;
    }

    @include susy-breakpoint(('max-width':1100px)){
            
        width:70%;
    }

    @include susy-breakpoint($mobile){
            
        height: 20px;
        font-size: 10px;
        width:72%;
    }
}

// input.box_input{
    
//     display:inline-block;
//     width:600px;
//     border: 0;
//     border-bottom: 1px solid #515151;
//     font-size: 24px;
//     height: 50px;

//     &:focus{

//         outline:none;
//     }

//     @include susy-breakpoint(('max-width':1100px)){
            
//         width:72%;
//     }

//     @include susy-breakpoint($mobile){
            
//         width:70%;
//         font-size: 10px;
//         line-height: 20px;
//         height: 40px;
//     }
// }

.jconfirm-box{

    width:300px;
}

label.error{

    display:block;
    margin-top: 4px;
    margin-left: 104px;
    color: red;

    @include susy-breakpoint($mobile){
            
        margin-left: 65px;
        font-size: 10px;
    }

    
}