@import "reset";
//@import "bootstrap/scss/bootstrap";
@import "base";
@import "perfect-scrollbar";
header{
    margin:0 auto;
}

body {

    font-family: "微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B", "儷黑 Pro";

    &.open{
        overflow: hidden;
    }
}

body, html{
    position:relative;
    width:100%;
    height:100%;
}

header{

    padding: 20px 20px 20px 20px;
    display: block;
    position: fixed;
    background-color: white;
    z-index: 999;
    width: 100%;

    a.logo{
        
        background:url(../images/logo.gif) no-repeat;
        background-size:247.5px 31.5px;
        background-position: 0 0;
        width:247.5px;
        height:31.5px;
        text-decoration: none;
        display:inline-block;

        @include susy-breakpoint($mobile){
            
            width:154px;
            height:20px;
            background-size:154px 20px;
        }
    }

    ul.nav_mainpage{

        float:right;
        margin-top:0px;
        margin-right:0px;

        @include susy-breakpoint(('max-width':1023px)){
        
            display:none;
            float: none; 
            z-index: 999;
            position: absolute;
            left: 0px;
            right: 0px;
            background: #121212;
            height: calc(100% - 80px);
            top: 80px;
            margin:0 auto;
            overflow:hidden;
            color:#ffffff;
    
            &.active{
    
                display:block;
            }
        }
    
        @include susy-breakpoint($mobile){
    
            display:none;
    
            &.active{
    
                display:block;
                height: calc(100% - 60px);
                top: 60px;
                position: fixed;
            }
        }

        li{
            float:left;

            @include susy-breakpoint(('max-width':1023px)){
            
                display:block;
                width:auto;
                text-align: initial;
                height:auto;
                line-height: 17px;
            }

            a{
                text-decoration: none;
                display:block;
                text-align: left;
                font-size:20px;
                color:black;
                margin-right:40px;
                font-weight: 600;
            }
        }
    }
}

.main_userpage{

    padding:120px 20px 32px; 
    background: url(../images/bg.png) no-repeat;
    background-size: 100% auto;
    background-position: 0 770px;

    @include susy-breakpoint(('max-width':767px)){
            
        padding:180px 20px 32px;
    }
}

p.subtitle{

    margin-left:40px;
    margin-top:20px;
    font-size: 28px;
    line-height: 38px;
    text-align: left;
    font-weight: 600;

    @include susy-breakpoint(('max-width':1200px)){
            
        width: 70%;
        margin:0 auto 10px;
        max-width:550px;
    }

    @include susy-breakpoint(('max-width':767px)){
            
        width:90%;
    }

    @include susy-breakpoint($mobile){
            
        padding-top:0;
        font-size:16px;
        line-height:20px;
    }
}

.trading_service_block{

    position: relative;
    margin: 0 auto;
    width: 100%;

    .content{

        z-index:399;
        position:relative;
    }

    p.title{

        font-size:40px;
        line-height: 52px;
        margin-bottom: 20px;
        margin-left:80px;
        font-weight: 600;

        @include susy-breakpoint(('max-width':1200px)){
            
            width: 70%;
            margin:0 auto 20px;
            max-width: 550px;
        }

        @include susy-breakpoint(('max-width':767px)){
            
            width: 70%;
            margin:60px auto 20px;
            max-width: 550px;
        }

        @include susy-breakpoint($mobile){
            
            width: 100%;
            font-size:26px;
            margin:0px auto 20px;
            line-height: 30px;
        }
    }

    p.content_font{

        font-size:18px;
        line-height: 22px;
        width:550px;
        margin-bottom:10px;
        margin-left:80px;
        font-weight: 600;

        &:last-child{

            margin-bottom: 22px;
        }

        @include susy-breakpoint(('max-width':1200px)){
            
            width: 70%;
            margin:0 auto 10px;
            max-width:550px;
        }

        @include susy-breakpoint(('max-width':767px)){
            
            width: 70%;
            font-size:14px;
        }

        @include susy-breakpoint($mobile){
            
            width: 100%;
            font-size:10px;
            line-height:18px;
        }
    }

    a.get_price{

        width:540px;
        //height:66px;
        border-radius: 5px;
        background-color: black;
        text-align: center;
        color:white;
        text-decoration: none;
        display: block;
        margin-top:10px;
        line-height: 24px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 24px;
        margin-left:80px;

        @include susy-breakpoint(('max-width':1200px)){
            
            width: 70%;
            margin:10px auto;
            max-width:550px;
        }

        @include susy-breakpoint(('max-width':767px)){
            
            border-radius: 20px;
        }

        @include susy-breakpoint($mobile){
            
            font-size:12px;
            line-height: 14px;
            padding-top:4px;
            padding-bottom: 4px;
            width:100%;
            border-radius: 10px;
        }
    }

    a.get_price_bottom{

        width:540px;
        border-radius: 5px;
        background-color:white;
        text-align: center;
        color:black;
        text-decoration: none;
        display: block;
        margin-top:10px;
        line-height: 24px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 24px;
        border:1px solid black;
        margin-left:80px;

        @include susy-breakpoint(('max-width':1200px)){
            
            width: 70%;
            margin:10px auto;
            max-width:550px;
        }

        @include susy-breakpoint(('max-width':767px)){
            
            border-radius: 20px;
        }

        @include susy-breakpoint($mobile){
            
            font-size:12px;
            line-height: 14px;
            padding-top:4px;
            padding-bottom: 4px;
            width:100%;
            border-radius: 10px;
        }
    }

    p.trading_time{

        font-size:10px;
        margin-top:40px;
        margin-bottom:40px;
        display:inline-block;

        @include susy-breakpoint(('max-width':1200px)){
            
            text-align: center;
        }

        @include susy-breakpoint(('max-width':767px)){
            
            display:block;
            margin-bottom: 0;
            text-align: left;
            margin-top:200px;
        }

        @include susy-breakpoint($mobile){
            
            margin-top:130px;
            font-size:6px;
        }
    }

    p.trading_time2{

        font-size:10px;
        margin-top:40px;
        margin-bottom:40px;
        display:inline-block;

        @include susy-breakpoint(('max-width':1200px)){
            
            text-align: center;
        }

        @include susy-breakpoint(('max-width':767px)){
            
            display:block;
            margin-top:0;
            text-align: left;
        }

        @include susy-breakpoint($mobile){
            
            font-size:6px;
        }
    }

    .coin_top{

        position: absolute;
        top: -20px;
        right: 100px;
        width:240px;
        height:200px;
        background:url(../images/coin_top.gif) no-repeat;
        background-size:240px auto;
        background-position:0 0;

        @include susy-breakpoint(('max-width':1300px)){
            
            right:2%;
        }

        @include susy-breakpoint(('max-width':767px)){
            
            top:-180px;
        }

        @include susy-breakpoint($mobile){
            
            background-size:140px auto; 
            width:140px;
            height:116px;
            top:-130px;
        }
    }

    .coin_middle{

        position: absolute;
        top: 150px;
        right: 310px;
        width:240px;
        height:200px;
        background:url(../images/coin_middle.gif) no-repeat;
        background-size:240px auto;
        background-position: 0 0;

        @include susy-breakpoint(('max-width':1300px)){
            
            right:18%;
        }

        @include susy-breakpoint(('max-width':1200px)){
            
            right:auto;
        }

        @include susy-breakpoint(('max-width':767px)){
            
            top:310px;
        }

        @include susy-breakpoint($mobile){
            
            background-size:140px auto; 
            width:140px;
            height:102px;
            top: 290px;
            left: -70px;
        }
    }

    .coin_bottom{

        position: absolute;
        top: 300px;
        right: 100px;
        width:240px;
        height:200px;
        background:url(../images/coin_bottom.gif) no-repeat;
        background-size:240px auto;
        background-position: 0 0;

        @include susy-breakpoint(('max-width':1300px)){
            
            right:2%;
        }

        @include susy-breakpoint(('max-width':767px)){
            
            top:470px;
        }

        @include susy-breakpoint($mobile){
            
            background-size:140px auto; 
            width:140px;
            height:116px;
            top:380px;
            right:0;
        }
    }
}

.light_box_wrap{


    &.active{

        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.3);
        z-index: 999;
        overflow: auto;
    }
}

.light_box{

    display:none;
    width: calc( 100% - 300px);
    position: absolute;
    top: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 10px;
    border: 1px solid #ccc;

    &.active{

        display:block;        
    }

    @include susy-breakpoint(('max-width':767px)){
            
        width:80%;
    }

    @include susy-breakpoint($mobile){
            
        margin-bottom: 20px;
    }

    .box_top{

        text-align: center;
        height: 100px;
        background-color: #121212;
        font-size: 34px;
        line-height: 42px;
        padding-top:16px;
        color: #fefefe;
        position: relative;

        @include susy-breakpoint(('max-width':767px)){
            
            font-size: 20px;
            line-height: 30px;
            height: auto;
            padding-bottom: 16px;
        }

        a.cancel{

            text-decoration: none;
            display:block;
            width:50px;
            height:50px;
            background: url(../images/cancel-icon.png) no-repeat;
            background-size: 50px 50px;
            background-position: 0 0 ;
            position: absolute;
            right:24px;
            top:24px;

            @include susy-breakpoint(('max-width':767px)){
            
                width:30px;
                height:30px;
                background-size: 30px 30px;
            }
        }
    }

    form.apply_form{

        background-color:white;
        padding-top:31px;
        padding-bottom: 31px;
        padding-left:calc((100% - 740px) / 2);
        padding-right:calc((100% - 740px) / 2);

        @include susy-breakpoint(('max-width':1200px)){
            
            padding-left:20px;
            padding-right:20px;
        }

        @include susy-breakpoint(('max-width':767px)){
            
            padding-left:10px;
            padding-right:10px;
        }

        button{

            width: 600px;
            margin-left: calc((100% - 600px) / 2);
            background-color: black;
            color: white;
            font-size: 24px;
            line-height: 32px;
            padding-top: 4px;
            padding-bottom: 4px;
            border:0;
            border-radius: 10px;
            margin-bottom: 20px;
            margin-top:46px;
        }

        .link{

            width: 120px;
            margin-left: calc((100% - 120px) / 2);

            a{
                display: block;
                margin: 0 auto;
                text-align: left;
                font-size: 24px;
                color: #121212;
                line-height: 34px;
                text-decoration: none;

                &:hover{

                    opacity:0.5
                }

                @include susy-breakpoint(('max-width':767px)){
            
                    font-size: 20px;
                    line-height: 30px;
                }

                @include susy-breakpoint($mobile){
            
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                }
            }
        }
    }
}

p.first_content{

    font-size:20px;
    line-height: 24px;
    color: #515151;
    margin-bottom: 26px;

    @include susy-breakpoint(('max-width':1023px)){
            
        font-size: 16px;
        margin-left: 10px;
    }

    @include susy-breakpoint($mobile){
            
        font-size: 12px;
        line-height: 18px;
    }
}

p.vip_p{

    font-size:20px;
    line-height: 30px;
    color: #fca85e;
    margin-bottom: 26px;
    text-align: center;
    font-weight: 600;

    @include susy-breakpoint(('max-width':1023px)){
        
        font-size: 16px;
    }

    @include susy-breakpoint($mobile){
        
        font-size: 12px;
        line-height: 18px;
    }
}

p.title_p{
    color: #121212;
    font-size:24px;
    line-height: 38px;
    display:inline-block;
    width:100px;
    margin-top: 46px;
    font-weight: 600;

    span{

        font-size:16px;
    }
}

p.purchase_p{

    color: #121212;
    font-size:24px;
    display:inline-block;
    width:100px;
    margin-top: 46px;
    font-weight: 600;

    span{

        font-size: 14px;
        line-height: 14px;
    }
}

input.box_input{
    
    display:inline;
    width:600px;
    border: 0;
    border-bottom: 1px solid #515151;
    height:34px;
    font-size:30px;

    &:focus{

        outline:none;
    }
}

textarea.box_input{
    
    display:inline-block;
    width:600px;
    height:auto;
    border: 0;
    border-bottom: 1px solid #515151;
    font-size:30px;
    min-height: 34px;

    &:focus{

        outline:none;
    }
}

#how_to_trade_block{

    position: relative;
    margin-top: 440px;
    padding-top: 60px;

    @include susy-breakpoint(('max-width':1200px)){
            
        width:100%;
    }
    
    @include susy-breakpoint(('max-width':767px)){
            
        padding-top:200px;
    }

    @include susy-breakpoint($mobile){
            
        padding-top:0;
    }

    ul{
        margin-top: 40px;
        margin-left: 180px;

        @include susy-breakpoint(('max-width':1200px)){
            
            width: 70%;
            margin:10px auto;
            max-width:550px;
        }

        @include susy-breakpoint($mobile){
            
            width: 100%;
        }

        li{

            margin-bottom:24x;

            @include susy-breakpoint(('max-width':1200px)){
            
                margin-left:40px;
            }

            @include susy-breakpoint(('max-width':767px)){
            
                margin-left:20px;
            }

            @include susy-breakpoint($mobile){
            
                margin-left: 10px;
            }

            img{
                width:40px;
                margin-top:6px;

                @include susy-breakpoint($mobile){
            
                    width:20px;
                }
            }

            p.li_p_header{

                display: inline-block;
                vertical-align: top;
                font-size: 22px;
                margin-left: 30px;
                line-height: 28px;
                font-weight: 600;
                margin-top:0px;
                margin-bottom:16px;

                @include susy-breakpoint(('max-width':767px)){
            
                    margin-left:10px;
                }

                @include susy-breakpoint($mobile){
            
                    font-size:11px;
                    line-height: 18px;
                }
            }

            p{

                margin-left: 72px;
                margin-bottom: 10px;
                max-width: 980px;

                @include susy-breakpoint(('max-width':767px)){
            
                    margin-left:52px;
                }

                @include susy-breakpoint($mobile){
            
                    margin-left: 32px;
                    font-size: 8px;
                }
            }
        }
    }
    .price_block{

        margin-left:calc((100% - 530px) / 2);

        @include susy-breakpoint(('max-width':767px)){
            
            margin-left: calc((100% - 260px) / 2);
        }

        @include susy-breakpoint($mobile){
            
            margin-left: 0;
        }

        a.get_price_tradeblock{

            width:260px;
            border-radius: 5px;
            background-color: black;
            text-align: center;
            color:white;
            text-decoration: none;
            display: block;
            margin-top:10px;
            line-height: 24px;
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 24px;
            margin-right:10px;
            display:inline-block;

            @include susy-breakpoint(('max-width':767px)){
            
                display:block;
                margin-top: 17px;
            }

            @include susy-breakpoint($mobile){
            
                font-size: 12px;
                line-height: 14px;
                padding-top: 4px;
                padding-bottom: 4px;
                width: 70%;
                border-radius: 10px;
                margin: 0 auto;
            }   
        }

        a.get_price_bottom_tradeblock{
         
            width:260px;
            border-radius: 5px;
            background-color:white;
            text-align: center;
            color:black;
            text-decoration: none;
            display: block;
            margin-top:10px;
            line-height: 24px;
            padding-top: 8px;
            padding-bottom: 8px;
            font-size: 24px;
            border:1px solid black;
            display:inline-block;

            @include susy-breakpoint(('max-width':767px)){
            
                display:block;
            }

            @include susy-breakpoint($mobile){
            
                font-size: 12px;
                line-height: 14px;
                padding-top: 4px;
                padding-bottom: 4px;
                width: 70%;
                border-radius: 10px;
                margin: 8px auto 0;

            }   
        }

    }
    
    img.circle_left{

        position: absolute;
        left: 120px;
        top: -400px;
        width: 190px;

        @include susy-breakpoint(('max-width':1200px)){
            
            left: 16%;
        }

        @include susy-breakpoint(('max-width':767px)){
            
            top:-230px;
        }

        @include susy-breakpoint($mobile){
            
            width: 133px;
            right: 2%;
            left: auto;
            top:-200px;
        }
    }

    img.circle_middle{

        position: absolute;
        right: 50%;
        transform: translateX(110px);
        top: -240px;
        width: 220px;

        @include susy-breakpoint(('max-width':767px)){
            
            top:-60px;
            right:40%;
        }

        @include susy-breakpoint($mobile){
            
            
            width: 133px;
            left:4%;
            top:-290px;
            transform: none;
            right:auto;
        }
    }

    img.circle_right{

        position: absolute;
        right: 200px;
        top: -400px;
        width: 190px;

        @include susy-breakpoint(('max-width':1200px)){
            
            right: 16%;
        }

        @include susy-breakpoint($mobile){
            
            right: 2%;
            width: 133px;
        }
    }
}

#quote_block{

    text-align: center;
    background: url(../images/bg.png) no-repeat;
    background-size: 100% auto;
    background-position: 0 270px;
    padding-top:80px;

    @include susy-breakpoint($mobile){
            
        padding-top: 40px;
    }

    ul{
        width: 680px;
        height: auto;
        margin: -70px auto 0;
        
        @include susy-breakpoint(('max-width':1200px)){
            
            margin: 0px auto 0;
        }

        @include susy-breakpoint(('max-width':767px)){
            
            width:70%;
        }

        @include susy-breakpoint($mobile){
            
            width:100%;
        }

        div{

            text-align: center;
            padding-top: 8px;
            margin: 0 auto;
            font-size: 16px;
            line-height: 18px;
            background-color: #dcdcdc;
            padding-bottom: 8px;

            p{
                display:inline-block;
                width: 120px;

                @include susy-breakpoint(('max-width':767px)){
            
                    font-size: 7px;
                    line-height: 13px;
                    width: 30%;
                }   
            }
        }

        li{

            text-align: center;
            padding-top: 8px;
            margin: 0 auto;
            font-size: 16px;
            line-height: 18px;
            padding-bottom: 8px;

            p{
                display:inline-block;
                color:black;
                vertical-align: middle;
                width:120px;

                @include susy-breakpoint(('max-width':767px)){
            
                    font-size: 7px;
                    line-height: 13px;
                    width: 30%;
                }   
            }
        }

        li:nth-child(even){

            background-color: white;
        }

        li:nth-child(odd){

            background-color: #eeeeee;
        }

        div{
            p{
                
            }
        }
    }

    .p_block{

        margin-top:16px;
        margin-left:100px;

        @include susy-breakpoint(('max-width':767px)){
            
            margin-left: 110px;
            width: 70%;
            text-align: left;
            margin-left: 15%;
        }

        @include susy-breakpoint($mobile){
            
            width: 100%;
            margin-left: 0%;
        }

        p{
            display:inline-block;
            font-size:10px;
            text-align: left;
            margin-right: 16px;

            @include susy-breakpoint(('max-width':1023px)){
            
                display:block;
            }

            @include susy-breakpoint($mobile){
            
                line-height: 16px;
            }
            
        }
    }

    a.get_price_quoteblock{

        width:260px;
        border-radius: 5px;
        background-color: black;
        text-align: center;
        color:white;
        text-decoration: none;
        display: block;
        margin-top:10px;
        line-height: 24px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 24px;
        margin-right:10px;
        display:inline-block;
        margin-top:60px;

        @include susy-breakpoint(('max-width':767px)){
            
            border-radius: 20px;
        }

        @include susy-breakpoint($mobile){
            
            font-size: 12px;
            line-height: 14px;
            padding-top: 4px;
            padding-bottom: 4px;
            width: 70%;
            border-radius: 10px;
            margin: 10px auto 0;
        }
    }
}

#faqs_block{

    padding-top:60px;

    div{
        margin-left: calc((100% - 800px ) / 2);
        width: 800px;

        @include susy-breakpoint(('max-width':1200px)){
            
            max-width: 800px;
            width: 90%;
            margin: 0 auto;
        }

        div{
            background-color: #eeeeee;
            margin-bottom: 8px;
            padding-bottom: 16px;
            padding-right:30px;

            @include susy-breakpoint($mobile){
            
                padding-right:10px;
                width:100%;
                padding-bottom: 2px;
            }
            .btn_active{
                background:url(../images/pulse.png) no-repeat;
            }
            button{
                background:url(../images/icon.png) no-repeat;
                background-size:30px 30px;
                background-position: 0 0;
                width:30px;
                height: 30px;
                display:inline-block;
                text-decoration: none;
                margin-top: 16px;
                margin-left: 16px;
                margin-right: 14px;
                background-color: transparent;
                border: none;
                outline: none;
                cursor: pointer;
            
                &.active{

                    background:url(../images/pulse.png) no-repeat;
                }

                @include susy-breakpoint($mobile){
            
                    margin-top: 6px;
                    margin-left: 6px;
                    margin-right: 6px;
                    background-size:20px 20px;
                    width:20px;
                    height: 20px;
                }
            }

            p.question{

                display:inline-block;
                vertical-align: top;
                margin-top:10px;
                margin-bottom: 24px;
                font-size:22px;
                line-height: 33px;

                @include susy-breakpoint(('max-width':1023px)){
            
                    width: 86%;
                }

                @include susy-breakpoint(('max-width':1023px)){
            
                    width: 80%;
                    font-size: 18px;
                }

                @include susy-breakpoint($mobile){
                        
                    font-size: 11px;
                    line-height: 16px;
                }
            }

            p.answer{
                display: none;
                margin-left: 64px;
                margin-bottom: 12px;
                font-size: 18px;
                line-height: 22px;

                @include susy-breakpoint($mobile){
                        
                    margin-left: 33px;
                    margin-bottom: 8px;
                    font-size: 8px;
                    line-height: 15px;
                }
            }
        }
    }
}

#contact_block{

    position: relative;
    background: url(../images/bg.png) no-repeat;
    background-size: 100% auto;
    background-position: 0 270px;
    padding-top:60px;

    @include susy-breakpoint($mobile){
                        
        padding-top:20px;
    }
    
    iframe{

        margin-left: calc((100% - 800px) / 2);
        width:800px;
        height:600px;
        border:0;
        
        @include susy-breakpoint(('max-width':1200px)){
            
            width: 70%;
            margin-left:15%;
        }

        @include susy-breakpoint(('max-width':767px)){
            
            height: -webkit-fill-available;
        }

        @include susy-breakpoint($mobile){
                        
            margin-left: 0%;
            width:100%;
            height: 320px;
        }
    }

    .small_font{

        font-size:18px;
        line-height: 27px;
        margin-left: calc((100% - 800px) / 2);
        margin-bottom: 17px;

        @include susy-breakpoint(('max-width':1200px)){
            
            margin-left:15%;
            margin-top:12px;
            width:70%;
        }

        @include susy-breakpoint(('max-width':767px)){
            
            margin-bottom: 0;
            margin-top:26px;
        }

        @include susy-breakpoint(('max-width':767px)){
            
            font-size: 4px;
            line-height: 16px;
            margin-left: 0;
            width:100%;
        }
    }

    a{

        background:url(../images/fb-icon-fake.png) no-repeat;
        background-size:40px 40px;
        background-position: 0 0;
        width:40px;
        height:40px;
        text-decoration: none;
        display:block;
        position: absolute;
        top:750px;

        @include susy-breakpoint(('max-width':767px)){
            
            top:540px;
        }
        
        @include susy-breakpoint($mobile){
            
            top:420px;
            background-size:20px 20px;
            background-position: 0 0;
            width:20px;
            height:20px;
        }
    }

    a.fb1{

        right:calc((100% - 800px) / 2);

        @include susy-breakpoint(('max-width':1200px)){
            
            right:15%;
        }

        @include susy-breakpoint($mobile){
            
            right:0%;
        }
    }

    a.fb2{

        right:calc(((100% - 800px) / 2) + 60px);

        @include susy-breakpoint(('max-width':1200px)){
            
            right:23%;
        }

        @include susy-breakpoint($mobile){
            
            right:11%;
        }
    }

}

footer{

    margin-top:93px;
    position: relative;

    @include susy-breakpoint($mobile){
            
        margin-top: 36px;
    }

    h6{
        text-align: center;
        margin-bottom: 34px;

        @include susy-breakpoint(('max-width':1200px)){
            
            padding-top: 80px;
        }

        @include susy-breakpoint($mobile){
            
            padding-top: 60px;
            font-size: 6px;
        }
    }

    h4{

        text-align: center;
        font-size: 14px;
        line-height: 27px;
        margin-left: calc((100% - 1000px) / 2);
        margin-right: calc((100% - 1000px) / 2);
        margin-bottom: 28px;

        
        @include susy-breakpoint(('max-width':1200px)){
            
            width: 90%;
            margin-left:5%;
            margin-right:5%;
        }

        @include susy-breakpoint($mobile){
            
            height:auto;
            font-size: 4px;
            line-height: 18px;
        }

        a{
            text-decoration: none;
            display:inline;
            border-bottom:1px solid #000000;
            color:#000000;
        }
    }

    a.bottom_item1{

        position: absolute;
        top:0;
        right:291px;
        background:url(../images/footer_link.png) no-repeat;
        background-size:15px 15px;
        background-position: 110px 0;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        text-decoration: none;
        display: block;
        color:#000000;

        @include susy-breakpoint(('max-width':1200px)){
            
            right: auto;
            left: 26%;
        }

        @include susy-breakpoint(('max-width':767px)){
            
            right: auto;
            left: 21%;
        }

        @include susy-breakpoint($mobile){
            
            font-size: 2px;
            line-height: 14px;
            left: -1%;
            background-size: 8px 8px;
            background-position: 110px 4px;
        }
    }

    a.bottom_item2{

        position: absolute;
        top:0;
        right:159px;
        background:url(../images/footer_link.png) no-repeat;
        background-size:15px 15px;
        background-position: 100px 0;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        width:120px;
        text-decoration: none;
        display: block;
        color:#000000;

        @include susy-breakpoint(('max-width':1200px)){
            
            right: auto;
            left: 44%;
        }

        @include susy-breakpoint($mobile){
            
            font-size: 2px;
            line-height: 14px;
            background-size: 8px 8px;
            left: 34%;
            background-position: 94px 4px;
        }
    }

    a.bottom_item3{

        position: absolute;
        top:0;
        right:43px;
        background:url(../images/footer_link.png) no-repeat;
        background-size:15px 15px;
        background-position: 86px 0;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        width: 110px;
        text-decoration: none;
        display: block;
        color:#000000;

        @include susy-breakpoint(('max-width':1200px)){
            
            right: auto;
            left: 62%;
        }

        @include susy-breakpoint($mobile){
            
            font-size: 2px;
            line-height: 14px;
            background-size: 8px 8px;
            //left: 34%;
            background-position: 90px 4px;
        }
    }
}

.jconfirm-box{

    width:300px;
}

label.error{

    display:block;
    margin-top: 4px;
    margin-left: 104px;
    color: red;
}


.top{
    position:fixed;
    width: 48px;
    height: 48px;
    background-image: url(../images/up-icon@2x.png);
    background-size: cover;
    background-color: transparent;
    border: none;
    border: none;
    right: 2%;
    bottom: 3%;
    outline: none;
    cursor: pointer;
}

.main_menu_hamburger{

    display:none;

    @include susy-breakpoint(('max-width':1023px)){
            
        display:block;
    }
}